@media only screen and  (max-width: 768px){
img{
    display: none;
}
.nva{
    padding-top: 2rem;
}
}
@media only screen and  (min-width: 1024px){
    .footer-address{
        
        padding-left: 2rem;
        margin-top: 3rem;
    }
}
