<footer class=" text-center text-lg-start  m-0 p-0" style="  background-color: rgba(0, 0, 0, 0.2);">
  <div class="row">
    <div class="col-md-9">
<img src="../../assets/altudotrans.png" width="250px" alt="">
    </div>
    <div class="col-md-3 pt-5 footer-address">
      <p>Address: Vivamus efficitur, <br>
        eros at quam lacinia. <br>
        Phone: 99 XX XX XXXX <br>
        Email: email@host.com</p>
    </div>
     <div class="row nva">
      <h3  class="text-center"  style="font-weight: 600px;"> © 2022 NVA | Privacy Policy</h3>
    </div>
   
  </div>
   
   
  
  </footer>
  

