
nav{
    height: 100px;
}

.nav-link{
font-size: 17px;
&:hover{
    font-weight: 600;
    
}

}
@media only screen and  (max-width: 768px){
    nav{
        height: auto;
        img{
        display: none;
    }
    
}

}