 <app-navbar></app-navbar> 

<!-- <app-login></app-login>  -->
<!-- <app-products (productDetail)="getData($event)"></app-products> -->
<!-- <app-products (productDetail)="assignData($event)"></app-products> -->



  <!-- <div *ngIf="!productdetail">
    <app-products (productDetail)="assignData($event)"></app-products>
  </div>
  <div *ngIf="productdetail">
    <app-single-product [productDetail]="productdetail"></app-single-product>
  </div>  -->
   <div *ngIf="!productdetail; else singleProduct">
    <app-products (productDetail)="assignData($event)"></app-products>
  </div>
 <ng-template #singleProduct>
    <app-single-product (removeValue)="assignData($event)" [productDetail]="productdetail"></app-single-product>
  </ng-template>
  
  <app-footer></app-footer>